<h1>Admin::Dashboard#show</h1>
<table>
    <tr>
      <p> Total Number of Products: </p>
      <p> <%= @products.count %> </p>
    <tr>
    <tr>
      <p> Total Number of Categories: </p>
      <p> <%= @categories.count %> </p>
    <tr>
</table>

